/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color:#c0964c;
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --gradient-color: linear-gradient(90deg,
                                  hsl(23, 4%, 28%) 0%,
                                  hsl(23, 4%, 8%) 100%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 2%, 9%);
  --container-color: #fff;
  --white-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 94%);
  --ant-success-color: rgba(255, 255, 255, 0.1);
  --ant-primary-color: rgb(18, 18, 18);
  /* --ant-success-color: rgba(255, 255, 255, 0.1); */
  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size:4.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: 1.3rem;
  --h5-font-size:1rem;
  --h6-font-size:.7rem;
  /* --loading-font-size: 2rem; */
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
      /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 2rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --h6-font-size: 1.7rem;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --tiny-font-size: .688rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 2.25rem;
    --h5-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* @media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
} */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 8rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 2.25rem;
    --h5-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body ,
button,
input  {
  font-family: var(--body-font);
  /* background-color: var(--body-color); */
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  background-color: var(--ant-primary-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}


/*=============== NAVBAR ===============*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}


.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  margin: 0 auto;
  width: 97%;
  height: 1px;
  background-color: var(--first-color);
}
/*Remove the property of 100vh, when inserting its content*/


.nav {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: 328px;
  height: 72px;
  color: wheat;
  background-color: #000;
  box-shadow: 0 8px 32px hsl(38.28deg 47.93% 52.55% / 38%);
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
  border-radius: 0.65rem;
  overflow: hidden;
  z-index: var(--z-fixed);
}

.nav__list {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link i {
  font-size: 1.5rem;
  color: hsl(38.28deg 47.93% 52.55%);
  z-index: 20;
  transition: .3s;
}

.nav__name {
  font-size: var(--tiny-font-size);
  position: absolute;
  font-weight: 500;
  transition: .4s;
  transform: translateY(50px);
  z-index: 20;
  color: var(--body-color);
  opacity: 0;
}

/* Indicator link */
.indicator {
  position: absolute;
  left: 5px;
  bottom: 0;
  fill: var(--first-color);
  transition: .3s;
}

/* Active link */
.active-link i {
  color: var(--body-color);
}

.active-link .nav__name {
  opacity: 1;
  transform: translateY(28px);
}

/* Move indicator */
.nav__link:nth-child(1).active-link ~ .indicator {
  transform: translateX(calc(56px * 0));
}

.nav__link:nth-child(2).active-link ~ .indicator {
  transform: translateX(calc(56px * 1));
}

.nav__link:nth-child(3).active-link ~ .indicator {
  transform: translateX(calc(56px * 2));
}

.nav__link:nth-child(4).active-link ~ .indicator {
  transform: translateX(calc(56px * 3));
}

.nav__link:nth-child(5).active-link ~ .indicator {
  transform: translateX(calc(56px * 4));
}

/*=============== HOME ===============*/
.home__container{
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
}
.home__content{
  position: relative;
  display: grid;
  justify-self: center;
}
.home__img{
  width: 270px;
  z-index: 11;
  border-radius: 1rem;
}
.home__title{
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .25rem;
  color: var(--first-color);
  position: absolute;
  top: -3rem;
  justify-self: center;
}
/* .home__title span:nth-child(2),
.home__title span:nth-child(4),
.home__title span:nth-child(6)
{
  z-index: -1;
} */
.home__toolip{
  position: absolute;
  top: -.5rem;
  right: 1.5rem;
}
.home__tooltip-img{
  width: 60px;
  display: none;
}
.home__tooltip-text{
  display: none;
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color:var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px , -40px);
  white-space: nowrap;
}
.home__social{
  display: grid;
  justify-items: center;
  row-gap: 6rem;
  position: absolute;
  top: 14rem;
  left: -1rem;
}
.home__social-text{
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.home__social-text::after{
  content: '';
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}
.home__social-links{
  display: grid;
  row-gap: .75rem;
}
.home__social-link{
  font-size: 1.25rem;
  color: var(--text-color);
  transition: color .4s;
}
.home__social-link:hover{
  color: var(--first-color);
}
.home__button{
  justify-self: center;
  z-index: 13;
}
/*=============== New ===============*/
.new__card{
  width: 327px;
  height: 183.938px;
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  background-color: var(--container-color);
  padding: 1.5rem 1rem;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: border .4s , background-color .4s;
}
.new__card:hover{
  border: 2px solid var(--text-color);
}
.new__img{
  width: 100px;
}
.new__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}
.new__pricing{
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: .75rem;
}
.new__discount{
  color: var(--title-color);
}
.new__stars{
  color: var(--first-color);
}
/*=============== Button ===============*/
.button{
  background:var(--gradient-color) ;
  padding: .75rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  transition: box-shadow .4s;
}
.button i{
  font-size: 2rem;
  font-weight: initial;
  color: var(--first-color);
}
.button:hover{
  box-shadow:0 12px 32px hsla(23, 100%, 50%,.12) ;
}
/*=============== CARD ===============*/
.containeruob {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 4rem;
  
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  /* width: 387px;
    height: 217.688px; */
  width: 300px; 
  /* border-radius: 1.25rem; */
  overflow: hidden;
  display: contents;
}

.card__image {
  width: 336px;
    height: 217.688px;
  margin-left: .5rem;
  /* width: 327px;
  height: 183.938px; */
  position: relative;
  background-color: var(--first-color-light);
  /* padding-top: 1.5rem; */
  /* margin-bottom: -.75rem; */

}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  /* border-radius: 1rem; */
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  /* border-radius: 50%; */
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}


/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  top: initial;
  bottom: 19rem;
  font-size: 3rem;
  color: var(--first-color);
  /* color: var(--first-color); */
  /* display: none; */
}
:not(.ytp-shorts-mode).ytp-title-enable-channel-logo .ytp-title-text{
  padding-left: 0;
}
.swiper-button-prev {
  left: calc(82% - 2rem);
}

.swiper-button-next {
  right: calc(15% - 2rem);
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

/*=============== VISIT ===============*/
.visit__container{
  position: relative;
  padding-block: 3rem;
}
.visit__bg,
.visit__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.visit__bg{
  object-fit: cover;
  object-position: center;
}
.visit__shadow{
  background: linear-gradient(180deg, hsl(0deg 0% 100% / 0%)0%, hsl(0deg 0% 0% / 80%)50%, hsl(0deg 0% 0%)100%)
}
.visit__data{
  text-align: center;
}
.visit__description{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: 3rem;
}
.visith2{
  text-align: left;
  font-size: 3rem;
font-family: "Lobster", sans-serif;
line-height: 1.3em;
}
/*=============== newsletter ===============*/
.newsletter__container{
position: relative;
}
.newsletter__content{
  position: relative;
  background: linear-gradient(var(--ant-success-color),var(--ant-success-color)),var(--ant-primary-color)!important;
  border-radius: 20px;
  padding: 0rem 1rem 3rem;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
}
.newsletter__img{
  z-index: 11;
  width: 250px;
  position: absolute;
  top: -3.5rem;
  left: -5rem;
}
.newsletter__img2{
  z-index: 11;
  width: 250px;
  position: absolute;
  top: -0.5rem;
  left: -5rem;
}

.newsletter__data{
  position: relative;
  left: 5rem;
  top: 2rem;
}

.newsletter__data .section__title{
  color: #fff;
  margin-bottom: 2rem;
}
.newsletter__form{
  /* background-color: #fff; */
  padding: 5px 5px 5px 16px;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  column-gap: .5rem;
}
.newsletter__input,
.newsletter__button{
  font-family: var(--body-color);
  border: none;
  outline: none;
}
.newsletter__input{
  width: 90%;
  color: var(--text-color);
}
.newsletter__button{
  cursor: pointer;
}
.newsletter__spinach{
  width: 30px;
  position: absolute;
  right: 2rem;
  bottom: -2rem;
  transform: rotate(45deg);
}
/* =============== JOin =============== */
.join__container{
  padding-top: 2.5rem;
}
.join__bg{
  border-radius: 15px;
  row-gap: 0;
  background-color: var(--ant-success-color);
  padding: 0px 1.5rem 0.5rem 1.5rem;
}
.join__blob{
  position: relative;
  width: 220px;
  height: 320px;
  border: 6px solid transparent;
  background: var(--gradient-color) padding-box, linear-gradient(90deg, hsl(38.28deg 47.93% 52.55%)0%, hsl(20,75%,80%)100%) border-box;
  border-radius: 20rem 20rem 20rem 0;
}
.join__image{
  position: relative;
  justify-self: center;
  transform: translateY(-3.5rem);
}
.join__shadow{
  position: absolute;
  width: 195px;
  height: 59px;
  background:hsl(0deg 0.82% 52.96% / 78%);
  bottom: -3.75rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  filter: blur(12px);
  z-index: -1;
}
.join__img{
  display: block;
  border-radius: inherit;
  width: 210px;
  margin: 0 auto;
  transform: translateY(-2px);
}
.join__blob-title{
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: hsla(0,0%,100%,.3);
  font-weight: var(--font-medium);
}
.join__content{
  row-gap: 2rem;
    padding-bottom: 1rem
}
.join__data{
  text-align: center;
}
.join__from{
  display: grid;
  row-gap: .75rem;
}
.join__input{
  width: 100%;
  background-color: var(--body-color);
  padding: 1.25rem 1.5rem ;
  border-radius: 4rem ;
  color: var(--text-color);
}

.join__input::placeholder{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.join__button{
  padding-block:1.1rem ;
  cursor: pointer;
}
.borderall{
  background: var(--ant-success-color)!important;
  height: 3px;
  border: none!important;
  margin-top: 24px!important;
  margin-bottom: 0!important;
}
/* =============== Footer =============== */
.footer{
  background: #040404;
}
.footer__container{
  padding: 2rem 0 7rem;
}
.footer__title,
.footer__link{
color: var(--first-color);
}
.footer__title{
  text-align: center;
  margin-bottom: 2rem;
}
.footer__list{
  /* display: flex; */
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
  display: none;
}
.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}
.footer__social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1.3rem;
  display: inline-flex;
}
.footer__copy{
display: block;
margin-top: 4.5rem;
color: var(--first-color);
text-align: center;
font-size: var(--smaller-font-size);
}
/*=============== BREAKPOINTS ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-color), 8%, 38%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-color), 8%, 26%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-color), 8%, 20%);

}

/*=============== Loading ===============*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* color: var(--first-color); */
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 999;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loading {
  color: var(--first-color);
  /* font-size: var(--loading-font-size); */
  /* font-family: var(--body-font); */
}
.loading__dots {
  display: inline-flex;
  column-gap: 0.25rem;
}
.loading__dot {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.loading__dot:nth-child(1) {
  position: absolute;
  transform: scale(0);
}
.loading__dot:nth-child(4) {
  background: transparent;
}
.loading__dot-down {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #7e4a17;
  border-radius: 50%;
  transform: translate(0);
}

/* Add animated class */
.animate .loading__dot:nth-child(1) {
  animation: scale-dot 0.8s 0.2s forwards;
}
.animate .loading__dot:nth-child(2), .animate .loading__dot:nth-child(3) {
  animation: move-right 0.6s forwards;
}
.animate .loading__dot-down {
  animation: move-right-down 0.8s 0.2s forwards linear, move-down 2.8s 0.3s forwards ease-in;
}

/* Animated dot 1 */
@keyframes scale-dot {
  100% {
    transform: scale(1);
  }
}
/* Animated dot 2 & 3*/
@keyframes move-right {
  100% {
    transform: translateX(0.75rem);
  }
}
/* Animated dot 4 */
@keyframes move-right-down {
  50% {
    transform: translate(1.5rem, 0.25rem);
  }
  100% {
    transform: translate(2rem, 0.5rem);
  }
}
@keyframes move-down {
  100% {
    transform: translate(10rem, 80vh);
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .nav {
    zoom: .8;
  }
  .container{
    margin-inline: 1rem;
  }
  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: 8rem;
  }
  .card__data {
    padding: 1rem;
  }
  .newsletter__content{
    padding: 6rem 1rem 2rem;
  }
  .newsletter__form{
    flex-direction: column;
    background: none;
    row-gap: 1rem;
  }
  .newsletter__input{
    width: initial;
    padding: 1rem;
    border-radius: 4rem;
  }
  .newsletter__button{
    justify-content: center;
  }
  .join__bg{
    padding: 0 .5rem 2rem .5rem;
  }
}
/* For medium devices */
@media screen and (min-width:576px) {
  /* .swiper-button-prev {
    left: 36rem;
    top: 3rem;

  }
  .swiper-button-next {
    right: 3rem;
    top: 3rem;
  } */
  .newsletter__content{
    /* grid-template-columns: .7fr; */
    justify-content: center;
    grid-template-columns: 84px 345px
    }
  .newsletter__img {
    width: 250px;
    position: absolute;
    top: -3.5rem;
    left: -2rem;
  }
  .newsletter__img2 {
    width: 250px;
    position: absolute;
    top: -0.5rem;
    left: -2rem;
  }
  .join__bg{
    grid-template-columns: 360px;
    justify-content: center;
    justify-self: center;
  }
}


@media (max-width: 480px) {
  .home__img {
    display: none;
  }
  .home{
    height: 74vh;
  }

  .home__social {
    width: 100%;
    display: flex;
    justify-items: center;
    gap: 6rem;
    align-items: center;
    position: absolute;
    top: 25rem;
    left: 0rem;
  
  }
  .home__social-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
  .home__social-link {
    font-size: 2rem;
    color: var(--text-color);
    transition: color .4s;

  }
  .visit__bg,
  .visit__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74%;
    z-index: -1;
  }
  .home__social-text {
    display: none;
    position: relative;
    rotate: 90deg;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
  .visit__bg,
 .visit__shadow {
    display: block;
  }



}

@media (min-width: 480px) {
  .home__img {
    display: block;
  }

  .visit__bg,
  .visit__shadow {
    display: none;
  }
  .main{
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-bottom: 105px;
    background-color: var(--ant-primary-color);
    min-height: 100vh;

  }
  
  .containerallpage{
    background:linear-gradient(rgb(0 0 0 / 89%), rgb(0 0 0 / 92%)), url(../img/PERSONALLOGO.png) no-repeat ;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    margin-top: 80px;
    padding: 28px 74px 32px;
    width: 100%;
    border-radius: 12px;
    /* background: #121212; */
    max-width: 735px;
    overflow-x: hidden;
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 16px;
  }
  .footer__container{
    padding: 2rem 0 0rem;
  }
}
/* For medium devices */
@media screen and (min-width:768px) {
  .home__img{
    width: 320px;
  }
  .section__title{
    text-align: initial;
  }
  /* .home__title{
    font-size: 16rem;
  } */
    .home__social{
      top: 0;
      bottom: 0;
      align-content: center;
    }
    .card__content {
      margin-inline: 3rem;
    }
    .newsletter__data .section__title{
      font-size: 3rem;
    }
    .section__title::before{
      content: '';
      position: absolute;
      top: 3rem;
      left: 0;
      margin: 0 auto;
      width: 97%;
      height: 1px;
      background-color: var(--first-color);
    }
    .join__data{
      text-align: initial;
    }
    .join__bg{
      padding: 0 3rem ;
    }
    .join__from{
      grid-template-columns: 1fr max-content;
      column-gap: 0.5rem;
      background-color: var(--body-color);
      border-radius: 4rem;
      /* padding-left: -0.5rem; */
      padding: 3px;
    }
    .join__input{
      padding: 0rem 2rem;
    }
    .newsletter__data .h2center{
      font-size: 2rem;
    }
    .newsletter__data {
      position: relative;
      left: 6rem;
      top: 2rem;
    }
  }

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    zoom: 1.1;
  }
  .section{
    padding: 6.5rem 0 1rem;
  }
  .section__title{
    margin-bottom: 3.5rem;
  }
  .footer__social-link{
    font-size: 1.2rem;
    padding: .4rem;
    border-radius: .5rem;
  }
}
@media screen and (min-width: 968px){
  .swiper-button-prev, .swiper-button-next{
    bottom: 21rem;
    font-size: 3rem;
  }
}

@media screen and (min-width:1024px) {
.newsletter__content{
  grid-template-columns: 147px 428px;
  align-items: center;
  column-gap: 6rem;
  padding: 2.5rem 0;
  border-radius: 24px;
}
.newsletter__img{
  /* position: initial; */
  width: 350px;
  position: absolute;
  top: -3.5rem;
  left: -6rem;
}
.newsletter__img2{
  width: 350px;
  position: absolute;
  top: -0.5rem;
  left: -6rem;

}
.newsletter__data .h2center{
  font-size: 2rem;
}
.newsletter__data{
  position: relative;
  left: 2rem;
  top: 1rem;
}
.newsletter .section__subtitle,
.newsletter .section__title{
  text-align: initial;
}
.newsletter .h2center{
  text-align: center;
}
.newsletter .section__title{
  margin-bottom: 1.5rem;
}
.section__title::before{
  
  content: '';
  position: absolute;
  top: 3rem;
  left: 0;
  /* right: 0; */
  margin: 0 auto;
  width: 98%;
  height: 1px;
  background-color: var(--first-color);
  /* z-index: -1; */
}
.newsletter__form{
  padding: 8px 8px 8px 24px;
}
.newsletter__button{
  font-size: var(--normal-font-size);
}
.newsletter__spinach{
  width: 40px;
  right: 5rem;
  bottom: -2.5rem;
}
}
/* For large devices */
@media screen and (min-width:1150px) {
  .container{
   margin-inline: auto;
  }
  .section{
   padding-block: 7rem 2rem;
  }
  .section__title{
   font-size: var(--h1-font-size);
  }
  .home__container{
   position: relative;
  }
  .home__img{
   width: 500px;
  }
  .home__title{
   font-size: var(--biggest-font-size);
   top: -4.5rem;
   column-gap: 1rem;
  }
  .home__toolip{
   right: 6rem;
  }
  .home__tooltip-img{
   width: initial;
  }
  .home__tooltip-text{
   font-size: var(--normal-font-size);
   transform: translate(82px , -52px);
  }
  .home__social-text{
   font-size: var(--normal-font-size);
  }
  .home__social-links{
   row-gap: 1rem;
  }
  .home__social-link{
   font-size: 1.5rem;
  }
  .home__button{
   position: relative;
   bottom: 4.5rem;
  }
  .card__container {
    max-width: 1120px;
  }
  .join__description{
    font-size: 1.25rem;
  }
  .join__container{
    padding-block: 9rem 5rem ;
  }
  .join__bg{
    /* grid-template-columns: 450px 380px; */
    justify-self: initial;
    /* height: 442px;
    column-gap: 6rem;
    padding-inline: 6rem; */
  }
  .join__blob{
    width: 300px;
    height: 429px;
    border: 10px solid transparent;
  }
  .join__shadow{
    width: 369px;
    height: 121px;
    bottom: -7rem;
    filter: blur(28px);
    background: hsl(38.28deg 47.93% 52.55%);
  }
  .join__image{
    transform: translateY(-8.5rem);
  }
  .join__img{
    width: 351px;
    transform: translateY(-6px);
  }
  .join__blob-title{
    font-size: 7rem;
  }
  .join__content{
    padding-top: 4rem;
    row-gap: 8rem;
    padding-bottom: 3rem;
  }
  /* .join__from{
    width: 400px;
  } */
/* 
  .swiper-button-prev {
    left: 60rem;
  }
  .swiper-button-next {
    right: 4rem;
  } */
 }
 




